.invoiceInput{
    background-color: #fff;
    border: 1px solid #a7a1a1;
}

.invoiceText{
    background-color: #fff;
    border: 1px solid #a7a1a1;
    width: 100%;
    padding: 0px 0px 100px 0px;
}


.main{
    background-color: #fff;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
}
.Row {
    margin: 20px 0 20px 0;
}