.tableDiv{
    background-color: white;
    padding: 0px 20px 20px 20px;
}
.leftText{
      text-align: left
    }
.infoStyle{
    padding: 15px;
}
.infoStyle > span{
    font-size: 13px;
}
.correctActTimeBtn{

}